@import './variables';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.btn-icon{
	background-color: $primary;
	padding: 0.2rem  0.6rem;
	outline: none;
	border: none;
	font-size: 14px;
}
//#e1e1eb

.form-control, textarea{
	background-color: #e1e1eb !important;
	height: 50px;
	border: none !important;
	outline: none !important;
	box-shadow: none!important;
	transition: all 0.4s ease-in-out !important;
	&:focus{
		transition: all 0.4s ease-in-out !important;
		box-shadow: rgba(118, 118, 118, 0.2) 0px 2px 8px 0px !important;
	}
}
.form{
	@include media-breakpoint-up(md){
		width: 70%;
	}
}

textarea{
	padding: 10px;
	height: 120px;
	border-radius: 5px;
}