@import "./variables";

.footer {
	&__content {
		background-color: $dark;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 50px;
		color: $light;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			color: $light;
		}
	}
	&__icons{
		display: flex;
	}

}
