@import "./variables";

@mixin flexCenter($content, $direction) {
	display: flex;
	align-items: center;
	justify-content: $content;
	flex-direction: $direction;
}
h1s {
	color: red;
	font-size: 30px;
}
headers {
	@extend h1s;
}

.header {
	background-color: $primary;
	width: 100%;
	height: $header-height;
	padding: 0 1.5rem;
	@include breakpoint(md) {
		padding: 0 3rem;
	}
	transition: 0.3s ease all;
	&__content {
		overflow: hidden;
		color: $light;
		margin: 0 auto;
		max-width: 1920px;
		height: 100%;
		@include flexCenter(space-between, row);
		z-index: 100;
		position: relative;
		&__logo {
			font-size: 2rem;
			font-weight: bold;
			text-decoration: none;
			color: $light;
			letter-spacing: -6px;
			span{
				font-weight: 400;
				letter-spacing: -1px;
				margin-left: 5px;
			}
		}
		&__nav {
			top: 0;
			right: 100%;
			bottom: 0;
			width: 100%;
			height: 100vh;
			position: fixed;
			@include flexCenter(center, column);
			text-align: center;
			background: rgba($primary, 0.8);
			backdrop-filter: blur(2px);
			transform: translate(0);
			transition: 0.3s ease transform;

			@include breakpoint(md) {
				transform: none;
				flex-direction: row;
				background: transparent;
				width: auto;
				height: 100%;
				position: static;
			}
			ul {
				list-style: none;
				padding: 0;
				display: flex;
				flex-direction: column;
				margin-bottom: $spacing-lg;
				@include breakpoint(md) {
					flex-direction: row;
					align-items: center;
					margin-bottom: 0;
					margin-right: calc(0.5rem + #{$spacing-lg});
				}
				li {
					margin-top: 15px;
					@include breakpoint(md){
						margin-top: 0;
					}
					a {
						text-decoration: none;
						margin-top: 10px;
						letter-spacing: 1px;
						font-weight: 600;
						font-size: 18px;
						color: inherit;
						padding: 0.75rem 1.25rem;
						border-radius: $border-radius calc(#{$border-radius * 10});
						transition: 0.3s ease all;
						&:hover {
							background: rgba($secondary, 0.13);
						}
						&.active {
							border-radius: $border-radius calc(#{$border-radius * 5});
							background: linear-gradient(rgba($secondary, 0.8), rgba($secondary, 0.9));
							color: $dark;
						}
					}
				}
			}
			&.isMenu{
				transform: translate(100%);
			}
		}
		&__toggle {
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: 2rem;
			transition: 0.3s ease all;
			position: relative;

			&:hover {
				color: $secondary;
			}
			@include breakpoint(md){
				display: none;
			}
		}
	}
}
