@import "./variables";
@import "./navbar";
@import "./footer";
@import './contacts';


@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


* {
	box-sizing: border-box;
	margin: 0;
}
::-webkit-scrollbar{
	width: 7px;
}
::-webkit-scrollbar-track{
	background: rgba($color: $secondary, $alpha: 0.3);
	padding: 5px;
	width: 6px;
}
::-webkit-scrollbar-thumb{
	background: $primary;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
	background: rgba($color: $primary, $alpha: 0.9);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

body {
	width: 100%;
	font-family: $poppins;
	color: $dark;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	background-color: rgba($color: $light, $alpha: 0.8);
}
.btn {
	background-color: $primary !important;
	padding: 0.75rem 2.5rem;
	font-weight: 500;
	font-size: 20px;
	color: white;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: white;
		background-color: rgba(52,63,113,0.8);
	}
}
.home {
	&__name {
		font-weight: bold;
	}
	&__role {
		font-size: 4rem;
		font-weight: bold;
	}
	&__text {
		width: 80%;
		font-size: 22px;
		font-weight: 200;
	}
}
